
*.xml
.idea/workspace.xml
venv/Lib/site-packages/beautifulsoup4-4.6.3.dist-info/INSTALLER
venv/Lib/site-packages/beautifulsoup4-4.6.3.dist-info/METADATA
venv/Lib/site-packages/beautifulsoup4-4.6.3.dist-info/RECORD
venv/Lib/site-packages/beautifulsoup4-4.6.3.dist-info/top_level.txt
venv/Lib/site-packages/beautifulsoup4-4.6.3.dist-info/WHEEL
venv/Lib/site-packages/bs4-0.0.1-py3.6.egg-info/dependency_links.txt
venv/Lib/site-packages/bs4-0.0.1-py3.6.egg-info/installed-files.txt
venv/Lib/site-packages/bs4-0.0.1-py3.6.egg-info/PKG-INFO
venv/Lib/site-packages/bs4-0.0.1-py3.6.egg-info/requires.txt
venv/Lib/site-packages/bs4-0.0.1-py3.6.egg-info/SOURCES.txt
venv/Lib/site-packages/bs4-0.0.1-py3.6.egg-info/top_level.txt
venv/Lib/site-packages/bs4/__init__.py
venv/Lib/site-packages/bs4/__pycache__/__init__.cpython-36.pyc
venv/Lib/site-packages/bs4/__pycache__/dammit.cpython-36.pyc
venv/Lib/site-packages/bs4/__pycache__/diagnose.cpython-36.pyc
venv/Lib/site-packages/bs4/__pycache__/element.cpython-36.pyc
venv/Lib/site-packages/bs4/__pycache__/testing.cpython-36.pyc
venv/Lib/site-packages/bs4/builder/__init__.py
venv/Lib/site-packages/bs4/builder/__pycache__/__init__.cpython-36.pyc
venv/Lib/site-packages/bs4/builder/__pycache__/_html5lib.cpython-36.pyc
venv/Lib/site-packages/bs4/builder/__pycache__/_htmlparser.cpython-36.pyc
venv/Lib/site-packages/bs4/builder/__pycache__/_lxml.cpython-36.pyc
venv/Lib/site-packages/bs4/builder/_html5lib.py
venv/Lib/site-packages/bs4/builder/_htmlparser.py
venv/Lib/site-packages/bs4/builder/_lxml.py
venv/Lib/site-packages/bs4/dammit.py
venv/Lib/site-packages/bs4/diagnose.py
venv/Lib/site-packages/bs4/element.py
venv/Lib/site-packages/bs4/testing.py
venv/Lib/site-packages/bs4/tests/__init__.py
venv/Lib/site-packages/bs4/tests/__pycache__/__init__.cpython-36.pyc
venv/Lib/site-packages/bs4/tests/__pycache__/test_builder_registry.cpython-36.pyc
venv/Lib/site-packages/bs4/tests/__pycache__/test_docs.cpython-36.pyc
venv/Lib/site-packages/bs4/tests/__pycache__/test_html5lib.cpython-36.pyc
venv/Lib/site-packages/bs4/tests/__pycache__/test_htmlparser.cpython-36.pyc
venv/Lib/site-packages/bs4/tests/__pycache__/test_lxml.cpython-36.pyc
venv/Lib/site-packages/bs4/tests/__pycache__/test_soup.cpython-36.pyc
venv/Lib/site-packages/bs4/tests/__pycache__/test_tree.cpython-36.pyc
venv/Lib/site-packages/bs4/tests/test_builder_registry.py
venv/Lib/site-packages/bs4/tests/test_docs.py
venv/Lib/site-packages/bs4/tests/test_html5lib.py
venv/Lib/site-packages/bs4/tests/test_htmlparser.py
venv/Lib/site-packages/bs4/tests/test_lxml.py
venv/Lib/site-packages/bs4/tests/test_soup.py
venv/Lib/site-packages/bs4/tests/test_tree.py
venv/pip-selfcheck.json
.idea/workspace.xml
.idea/workspace.xml
